# {{ ansible_managed }}
# Конфіг запобіжників. Читається a8-guard перед КОЖНОЮ задачею.
A8_KILL_SWITCH={{ a8_kill_switch_path }}
A8_DAILY_TASK_LIMIT={{ a8_daily_task_limit }}
A8_CONSECUTIVE_FAILURE_LIMIT={{ a8_consecutive_failure_limit }}
A8_LOGS_DIR={{ a8_logs_dir }}
A8_QUEUE_DIR={{ a8_queue_dir }}
A8_REPO_DIR={{ a8_repo_dir }}
A8_WORKTREES_DIR={{ a8_worktrees_dir }}
# Демон черги (a8-tick)
A8_TASK_TIMEOUT={{ a8_task_timeout_s }}
A8_ORACLE_TIMEOUT={{ a8_oracle_timeout_s }}
A8_MAX_TURNS={{ a8_max_turns }}
A8_DEFAULT_MODEL={{ a8_default_model }}
A8_CLAUDE_TOKEN_FILE={{ a8_claude_token_file }}
A8_PUSH_CREDENTIAL_KIND={{ a8_push_credential_kind }}
A8_PUSH_SSH_URL={{ a8_push_ssh_url }}
# Читає a8-tick-logic.sh: режим (а) OQ-34.
A8_SOURCES_ALLOWED="{{ a8_sources_allowed }}"
